/************************About Page Design start************************/

/*------------------------------
-------about area end--------*/
.about {
  overflow-x: hidden;
}
.img-div {
  position: relative;
}
.img-div img {
  height: 300px;
}
.info-div {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-div h2 {
  color: #343434;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.info-div a,
.info-div span {
  text-decoration: none;
  color: #666666;
  font-size: 18px;
  font-weight: 400;
}
.info-div span {
  padding: 0 10px;
}
.info-div a:hover {
  cursor: pointer;
  color: #ff4136;
  transition: all, 0.3s ease-in 0s;
}
.welcome-text-box {
  text-align: center;
  padding: 100px 0;
}
.welcome-text-box p {
  padding: 30px 0;
  margin: 0 auto;
  color: #87898a;
  font-weight: 400;
  font-size: 15px;
}
.welcome-text-box button {
  margin-top: 20px;
  text-transform: uppercase;
  border: 1px solid #c5c5c5;
  color: #979797;
}
.welcome-text-box button:hover {
  background-color: #ff4136;
  color: #ffffff;
}

/* info are */
.info-section {
  /* position: relative; */
  background-color: #f4f4f4;
  overflow-x: hidden;
}
.video-bg {
  position: relative;
}
.video-bg i {
  position: absolute;
  font-size: 20px;
  background-color: white;
  padding: 20px 22px;
  border-radius: 50%;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
}
.video-bg i:hover {
  color: #ff4136;
  cursor: pointer;
  transition: all 0.3s ease-in 0s;
}
.info-heading {
  color: #505050;
}
.info-row {
  padding-top: 30px;
}
.info-box {
  display: flex;
}
.info-box i {
  font-size: 40px;
  color: #505050;
}
.info-box-text {
  padding-left: 20px;
  color: #505050;
}
.info-box-text h3 {
  font-size: 22px;
}
.info-box-text p {
  font-size: 14px;
}
/* video */
.video-section {
  position: absolute;
  top: 0;
  /* display: none; */
}
.video-section .video-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-section iframe {
  height: calc(100% - 70%);
}
.video {
  position: relative;
}
.video-section i {
  position: absolute;
  top: -20px;
  padding: 5px 7px;
  background-color: rgba(255, 255, 255, 0.541);
  margin: 0 2px;
  border-radius: 50%;
}
.video-section i:hover {
  transition: all 0.3s ease-in 0s;
  cursor: pointer;
  color: white;
  background-color: #ff4136;
}
/*------------------------------
-------about area end--------*/

/*------------------------------
-------staff area start--------*/
.staff-section {
  padding: 50px 0;
  text-align: center;
}
.staff-section p {
  max-width: 500px;
  margin: 0 auto;
  color: #8b8b8b;
}
.staff-gallrey {
  padding-top: 100px;
  padding-bottom: 60px;
}
.team-foo {
  position: relative;
}
.team-foo img {
  transition: all 0.3s ease-in-out 0s;
  filter: grayscale(100%);
}
.team--info {
  padding: 20px 25px;
  position: absolute;
  bottom: 30px;
  width: 80%;
  left: calc(50% - 40%);
  color: white;
  background-color: #000000ad;
  transform: translateY(0) scaleY(0);
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.1, 1) 0s;
}
.team--info h3 {
  font-size: 20px;
  transition: color 0.5s ease-in-out 0s;
}
.team--info i {
  padding: 0 10px;
  transition: color 0.5s ease-in-out 0s;
}
.team--info h3:hover,
.team--info i:hover {
  color: #ff4136;
}
.team-foo:hover .team--info {
  transform: translateY(0) scaleY(1);
}
.team-foo:hover img {
  filter: grayscale(0%) !important;
}
/*------------------------------
---------staff area end--------*/

.review-section {
  background-color: #f4f4f4;
  padding-top: 50px;
}
.review-section h3{
  text-align: center;
}
.review-section div {
  padding: 10px 0px;
}

.card {
  border: none;
  margin: 20px;
}

.user-content p {
  margin-top: 5px;
  font-size: 12px;
  color: #636566;
}

.ratings i {
  color: blue;
}
/*------------------------------
---------staff area end--------*/
/*------------------------------
---------staff area end--------*/
