/*------------------------------
-------about area end--------*/
.cart {
  overflow-x: hidden;
}
.img-div {
  position: relative;
}
.img-div img {
  height: 300px;
}
.info-div {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-div h2 {
  color: #343434;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.info-div a,
.info-div span {
  text-decoration: none;
  color: #666666;
  font-size: 18px;
  font-weight: 400;
}
.info-div span {
  padding: 0 10px;
}
.info-div a:hover {
  cursor: pointer;
  color: #ff4136;
  transition: all, 0.3s ease-in 0s;
}

.cart-section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.cart-data-info{
    margin-bottom: 100px;
}
.cart-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666666;
    padding-bottom: 0px;
    align-items: baseline;
    flex-wrap: wrap;
}

.single-cart{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.cart-img{
    height: 100px;
    width: 100px;
}
.quantity {
    width: 90px;
}
.quantity input{
    width: 100%;
    padding-left: 10px;
}
.quantity >i {
    cursor: pointer;
}
.price{
    margin: 0 !important;
}

.delete-icon{
    color: #666666;
    transition: all .3s ease 0s;
    padding-right: 30px;
}
.delete-icon:hover{
    color: #ff4136;
}

.product-info p{
    margin: 0 !important;
    padding-left: 10px;
}
.product-name{
    color: rgb(34, 34, 34);
    font-size: 20px;
}
.brand-name{
    color: #666666;
}

.cart-btn > button {
    margin-right: 0px;
}
.cart-btn > button,
.apply,
.procces-btn{
    border: none;
    padding: 8px 14px;
    color: white;
    background-color: black;
    text-transform: uppercase;
    transition:all .4s ease 0s;
}
.cart-btn > button:hover,
.apply:hover,
.procces-btn:hover{
    background-color: #ff4136;
}
.coupon-text{
    margin-top: 40px;
    margin-bottom: 20px;    
}
.coupon-text > p{
    margin: 0 !important;
    color: #666666;
}
.coupon-input > input{
    padding: 6px ;
    margin-right: 5px;
}
.coupon-input > input:focus{
    outline: none;
}
.cart-box p{
    color: #666666;
    text-transform: uppercase;
}
.total{
    font-size: 20px;
}