/*------------------------------
--------Hero area start-------*/
header {
  background-color: rgba(255, 255, 255, 0.904);
  padding: 20px 20px;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.nav-link {
  list-style-type: none;
  margin: auto;
}
.nav-link li {
  display: inline-block;
  padding: 0 20px;
}
.nav-link a:hover {
  color: #ff4136;
}
.nav-link a {
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  color: rgb(189, 188, 188);
}
.nav_icon_box i {
  font-size: 22px;
  padding: 5px 7px;
  margin: 5px 5px;
}
.icon:hover {
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: rgb(251, 59, 59) !important;
}
.nav_icon_box i:not(:last-child) {
  color: rgb(189, 188, 188);
}
.nav_icon_box i:last-child {
  border: 2px solid black;
}
.toggle-nav-icon {
  position: relative;
}
.toggle-nav {
  position: absolute;
  left: -133px;
  top: 58px;
  z-index: 9999;
  background-color: #0c1923;
  list-style-type: none;
  padding-left: 0 !important;
  animation: growDown 0.5s ease-in-out forwards;
  transform-origin: top center;
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.toggle-nav li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 95px;
  padding-left: 10px;
  border-bottom: 1px solid rgb(211, 210, 210);
}
.toggle-nav li:hover {
  background-color: #192e3e;
}
.toggle-nav a {
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}
.carousel-caption .slider-heading {
  color: black;
}
.carousel-link {
  font-size: 10px;
  font-weight: 300 !important;
}
.slider-heading span {
  color: #ff4136;
}
.carousel-caption a {
  color: #000;
  font-family: Dosis;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  padding-right: 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  position: relative;
}
.carousel-caption a::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  top: 50%;
  transition: all 0.3s ease 0s;
  width: 20px;
}
.carousel-caption a:hover {
  color: #ff4136;
}
.carousel-caption a:hover:before {
  background: #ff4136 none repeat scroll 0 0;
}
button i {
  color: black;
  cursor: pointer;
}
/*------------------------------
--------Hero area end---------*/

/*------------------------------
-------footer area start-------*/
footer {
  background: url("/images/bg.webp");
  padding-top: 100px;
}

.f-box-1,
.f-box-2,
.f-box-3,
.f-box-4 {
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 20px !important;
}
.f-box-2 h1,
.f-box-3 h1,
.f-box-4 h4 {
  font-size: 22px;
}
.f-box-1 p,
.f-box-3 span,
.cpoyright p {
  color: #666666;
  font-size: 14px;
  line-height: 26px;
  padding-top: 30px;
}
.subscribe {
  display: flex;
}
.f-box-2 input {
  padding: 5px 0;
  width: 96%;
}
.f-box-2 i {
  margin-left: -1px;
  font-size: 20px;
  padding: 8px 13px;
  border-top: 1px solid rgb(154, 152, 152);
  border-right: 1px solid rgb(154, 152, 152);
  border-bottom: 1px solid rgb(154, 152, 152);
}
.f-box-2 i:hover {
  background-color: #ff4136;
  color: white;
  border: #ff4136;
  transition: all 0.3s ease-out 0s;
}
.footer-icon-box {
  color: #a9a7a7;
  font-size: 20px;
}
.footer-icon-box i {
  margin: 2px 10px;
}
.footer-icon-box i:hover {
  color: #ff4136;
  transition: all 0.5s ease-out 0s;
  cursor: pointer;
}
.row {
  align-items: center;
}
.footer-link {
  display: flex;
  justify-content: center;
}
.footer-link a {
  color: #666666;
  padding: 0 20px;
  text-decoration: none;
}
/*------------------------------
-------footer area end--------*/
